{
    "env": {
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "extends": "airbnb-base",
    "rules": {
      "strict": "off",
      "semi": ["error", "never"],
      "comma-dangle": ["error", "never"],
      "space-before-function-paren": ["error", { "anonymous": "never", "named": "always" }],
      "class-methods-use-this": "off",
      "global-require": "off",
      "no-param-reassign": ["error", { "props": false }],
      "linebreak-style": 0,
    },
    "globals": {
      "use": true
    }
}